body
{
    margin: 0px;
    background-color: gray;
}

.linha
{
    background-color: rgb(54, 132, 84);
    height: 10px;
}

#container_cabecario
{
    padding: 10px 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.direita
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.esquerda img
{
    width: 65px;
    height: 65px;
}

.barra
{
    border: 1px solid rgb(114, 114, 114);
    padding: 0px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
}


form button
{
    border: none;
    padding: 0px;
    font-size: 16px;
    align-items: start;
}

form input
{
    outline: 0;
    border: none;
    padding: 0px;
    font-size: 16px;
    align-items: start;
}

.opcoes
{
    margin-left: 50px;
    cursor: pointer;
}

button img
{
    width: 16px;
    height: 16px;
}

button
{
    background-color: white;
    cursor: pointer;
    margin-right: 5px;
}

.opcoes img
{
    width: 25px;
    height: 25px;
}

#parte_baixo
{
    background-image: url("bg.jpg");
    height: 700px;
    background-position: center;
    background-size: cover;
}

/*tablet*/
@media (max-width: 1000px)      
{

    .cabecario_menu img
    {
        width: 24px;
        height: 25px;
    }

    #container_cabecario
    {
        padding: 10px 50px;
    }
}

          /*Celular*/
@media (max-width: 700px)       
{
    #container_cabecario
    {
        padding: 10px 25px;
    }

    .direita
    {
        padding: 10px 8px;
    }

    #alteracao
    {
        max-width: 160px;
    }

    .opcoes
    {
        margin-left: 20px;
    }
}

    /*pesquisa*/
@media (max-width: 440px)  
{
    #container_cabecario
    {
        padding-left: 20px;
        padding-right: 20px;
    }

    #alteracao
    {
        max-width: 80px;
    }
    
}